@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* Lite CSS v0.5
* Copyright 2018,
* Panagiotis Englezos (Github.com/penglezos)
* Free to use under the MIT license.
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Universal
- Grid
- Navigation Bar
- Header
- Typography
- Tables
- Lists
- Forms
- Buttons
- Footer
- Positioning
- Cards
- Tooltips
*/

/* Universal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #212121;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word; }

/* Grid System
–––––––––––––––––––––––––––––––––––––––––––––––––– */
container, *[container] {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto; }

row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

row::after {
	content: "";
	display: table;
	clear: both;
}

row {
  display: block;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  width: 96%;
}

.hidden-sm { display: none;}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col1 { width: 4.33%;}
  .col2 { width: 12.66%;}
  .col3 { width: 21%;}
  .col4 { width: 29.33%;}
  .col5 { width: 37.66%;}
  .col6 { width: 46%;}
  .col7 { width: 54.33%;}
  .col8 { width: 62.66%;}
  .col9 { width: 71%;}
  .col10 { width: 79.33%;}
  .col11 { width: 87.66%;}
  .col12 { width: 96%;}
  .hidden-sm { display: block;}
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {width: 75%; max-width: 60rem;}
}

/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav { margin: 20px; display: block;}
nav * { display: inline-block; margin-bottom: 5px;}
nav > span { font-weight: bold;}
nav ul { margin: 0; padding: 0; float: right; list-style: none; }
nav ul li { margin: 0 10px; }
@media (max-width: 550px) { nav ul { width: 100%; } }
@media (max-width: 550px) { nav { text-align: center; } }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header { background-color: lightgray; margin-top:1em; margin-bottom:5em; text-align: center; padding: 50px 0;}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 { font-size: 2.5rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.375rem;}
h4 { font-size: 1.125rem;}
h5 { font-size: 1rem;}
h6 { font-size: 0.875rem;}

a { color: #1EAEDB; }
a:hover { opacity: 0.75; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul { list-style: circle inside; }
ol { list-style: decimal inside; }
ol, ul { padding-left: 0; margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul { margin: 1.5rem 0 1.5rem 3rem; font-size: 90%; }
li { margin-bottom: 1rem; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input, textarea, select {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #e0e0e0;
  outline: none;
  border-radius: 2px;
  background-color: #ffffff; }
  input:hover, textarea:hover, select:hover {
    border-color: #6e6e6e; }
  input:focus, textarea:focus, select:focus {
    border-color: #212121; }

textarea {
  resize: vertical;
  min-height: 60px; }

  @media (max-width: 550px) {
    input,select,label,checkbox,textarea { width: 100%; } }
  @media (max-width: 550px) {
    input,select,label,checkbox,textarea { text-align: center; } }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

button:hover{ opacity: 0.75; }
.green {background-color:#4CAF50}
.blue {background-color: #008CBA;}
.red {background-color: #f44336;}
.yellow {background-color: #FFD700;}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer { margin-top: 40px !important; text-align: center; padding: 20px 0; }
footer * { display: inline-block; }
@media (max-width: 550px) {
  footer  { width: 100%; } }
@media (max-width: 550px) {
  footer { text-align: center; } }

/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; margin: 0 auto; }
.justify { text-align: justify; }
.round { border-radius: 50%; }

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#card {margin-top:1em; margin-bottom:5em; background-color: lightgray; padding: 50px 0;}
#card #content { padding: 10px; }

/* Tooltips
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black;}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext { visibility: visible;}
